
:root {
    --apricot: #ffcdb2ff;
    --melon: #ffb4a2ff;
    --salmon-pink: #e5989bff;
    --old-rose: #b5838dff;
    --dim-gray: #6d6875ff;
}

body {
    margin: 0;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--apricot);
    color: var(--dim-gray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-align: center;
}

.navbar {
    padding: 15px;

}

.navbar-toggler {
    border: 3px solid;
    border-radius: 10px;
    background-color: var(--melon);
}

.navbar-toggler:hover {
    box-shadow: 0 0 20px var(--salmon-pink);
    border-color: var(--old-rose);
}

.headerName {
    padding-top: 25px;
    font-weight: 700;
    font-family: 'Ballet', cursive;
    font-size: 4em;
    color: var(--old-rose);
    text-shadow: 2px 2px var(--melon);
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 3px dotted var(--old-rose);
}

.nav-link {
    color: var (--dim-gray);
}

.nav-link:hover {
    color: var(--salmon-pink) !important;
}

.active {
    color: var(--old-rose) !important;
    font-weight: 500;
    text-shadow: 2px 2px var(--melon);
}

.a:hover {
    color: var(--melon);
}

.f-icon {
    color: var(--old-rose);
    margin: 10px 10px;
    
}

.f-icon:hover {
    color: var(--melon);
}

.f-note {
    margin: 5px 5px;
    text-shadow: 2px 2px var(--melon);
}